<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nodleDistribution" type="Nodle.Distribution.NodleDistributionConfigSection, Nodle.Distribution"/>
    </configSections>
    <nodleDistribution
        accessKey="ConfigAccessKey"
        baseUrl="http://ConfigUrl"
        channel="ConfigChannel"
    />
</configuration>