<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nodleDistribution" type="Nodle.Distribution.NodleDistributionConfigSection, Nodle.Distribution"/>
    </configSections>
    <nodleDistribution
        accessKey="1234567890"
        baseUrl="http://192.168.0.8:1337"
        channel="example"
    />
</configuration>