<configuration>
  <appSettings>
    <add key="couchProtocol" value="https"/>
    <add key="couchUrl" value="kieranties.cloudant.com" />
    <add key="couchDb" value="nodle"/>
    <add key="couchUsername" value="kieranties" />
    <add key="couchPassword" value="e9WBb4fP" />
</appSettings>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>	
	<rewrite>
		<rules>
			<rule name="app_route">
				<match url="/*" />
				<action type="Rewrite" url="app.js" />
			</rule>
		</rules>
	</rewrite>	
  </system.webServer>
</configuration>
