<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nodleDistribution" type="Nodle.Distribution.NodleDistributionConfig, Nodle.Distribution"/>
        <section name="nodleDistributionMissingAccessKey" type="Nodle.Distribution.NodleDistributionConfig, Nodle.Distribution"/>
        <section name="nodleDistributionMissingBaseUrl" type="Nodle.Distribution.NodleDistributionConfig, Nodle.Distribution"/>
        <section name="nodleDistributionMissingChannel" type="Nodle.Distribution.NodleDistributionConfig, Nodle.Distribution"/>
    </configSections>
    <nodleDistribution
        accessKey="ConfigAccessKey"
        baseUrl="http://ConfigUrl"
        channel="ConfigChannel"
    />
    <nodleDistributionMissingAccessKey
        baseUrl="http://ConfigUrl"
        channel="ConfigChannel"
    />
    <nodleDistributionMissingBaseUrl
        accessKey="ConfigAccessKey"
        channel="ConfigChannel"
    />
    <nodleDistributionMissingChannel
      accessKey="ConfigAccessKey"
      baseUrl="http://ConfigUrl"
    />
</configuration>