<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nodleDistribution" type="Nodle.Distribution.NodleDistributionConfig, Nodle.Distribution"/>
    </configSections>
    <nodleDistribution
        username="ConfigUsername"
        password="ConfigPassword"
        url="http://ConfigUrl"
        channel="ConfigChannel"
    />
</configuration>