.topbar
    .topbar-inner
        .container-fluid
            a.brand(href='#') #{title}
            ul.nav
                li.active: a(href='#') Home
                li: a(href='#about') About
                li: a(href='#contact') Contact
            ul.nav.secondary-nav#connections
                li.dropdown(data-dropdown='dropdown')
                    a.dropdown-toggle(href='#') Connect
                    ul.dropdown-menu
                        li
                            a(href='#', data-controls-modal='manage-connections') Manage Connections
.container-fluid
    .sidebar
        .well
            ul.unstyled
                li.active: a(href='#') Home
                li: a(href='#about') About
                li: a(href='#contact') Contact
    .content
        ul.breadcrumb
            - each crumb in crumbs
                li
                    a(href=crumb.url) #{crumb.name}
                    span.divider /
            li.active #{current}
        section
            .page-header
                h1 Messages
                    small Filtered by: this and that
            table.bordered-table.zebra-striped
                thead
                    tr
                        th One
                        th Two
                        th Three
                tbody
                    tr
                        td A
                        td B
                        td C
                    tr
                        td A
                        td B
                        td C
                    tr
                        td A
                        td B
                        td C
                    tr
                        td A
                        td B
                        td C
                    tr
                        td A
                        td B
                        td C
                    tr
                        td A
                        td B
                        td C
                    tr
                        td A
                        td B
                        td C
                    tr
                        td A
                        td B
                        td C