!!! 5
html(lang='en')
	head
		title= title
		link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/global.css')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(type='text/javascript', src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js')
		script(type='text/javascript', src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js')
		script(type='text/javascript', src='/javascripts/settings.js')
		script(type='text/javascript', src='/javascripts/core.js')
		script(type='text/javascript', src='/javascripts/mustache.js')
	body!= body
	include includes/manage-connections